<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <h4 id="heading">投稿詳細</h4>

      <% if current_user == @post.user %>
      <div class="action">
        <%= link_to "投稿を削除", post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>
      </div>
      <% end %>

      <strong>ユーザー名</strong>
      <%= link_to user_path(@post.user) do %>
        <%= @post.user.user_name %>
      <% end %>

      <div class="post-image">
      <%= post_image(@post, size = "435x350") %>
      </div>

      <% if current_user == @post.user %>
      <div class="action">
        <%= link_to "編集", edit_post_path, class: "btn btn-success" %>
      </div>
      <% end %>

      <h5 class="post-title">Title</h5><br />
      <p><%= @post.title %></p>

      <h5 class="post-content">Content</h5><br />
      <p><%= @post.content %></p>

      <table>
        <tr>
          <td>
            <i class="fa-solid fa-tag"></i>
            <% @tags.each do |tag| %>
              <%= link_to tagsearches_search_path(tag: tag.name) do %>
                <%= tag.name %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td id="favorite_btn_<%= @post.id %>" >
            <%= render 'public/favorites/btn', post: @post %>
          </td>
        </tr>
      </table>
      <div id="comment_counter">
        <%= render 'public/comments/counter', post: @post %>
      </div>
      <div id="comment_index">
        <%= render 'public/comments/index', post: @post %>
      </div>
      <% if current_user %>
      <div>
        <%= render 'public/comments/form', post: @post, comment: @comment %>
      </div>
      <% end %>
    </div>
  </div>
</div>
