<h5 id=heading><%= @model %>検索結果 "<%= @word %>"</h5>
<div class="container">
  <div class="row">
      <% @posts.each do |post| %>
      <div class="col-md-3 mb-4">
        <div class="card">
          <%= image_tag post.get_post_image(300,300), class: "card-img-top img-fluid" %>
          <div class="card-body">
            <div class="card-title">
              Title<br />
              <%= post.title %><br />
              Tag<br />
              <i class="tag"><%= post.tags.map(&:name).join(',') %></i>
              <div id="favorite_btn_<%= post.id %>" >
                <%= render 'public/favorites/btn', post:post %>
              </div>
            </div>
            <%= link_to "詳細", post_path(post.id), class: "btn btn-success" %>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>
