<div class="container">
  <% post.comments.each do |comment| %>
  <div class="row">
    <div class="col-4">
      <div class="comment_image"><%= user_image(comment.user, size = "75x75") %></div>

      (<%= link_to user_path(comment.user) do %>
        <%= comment.user.name %>
      <% end %>）

      <% if current_user == comment.user %>
        <%= link_to '削除', post_comment_path(post, comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger", remote: true %>
      <% end %><br />
    </div>
    <div class="col-8">
      <p><%= comment.comment %></p>
    </div>
  </div>
  <% end %>
</div>
