<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h2 id="heading">ログイン</h2>

      <%= form_with model: @user, url: user_session_path do |f| %>
        <div class="field">
          <%= f.label :Email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", size: 60 %>
        </div>

        <div class="field">
          <%= f.label :Password %><br />
          <%= f.password_field :password, autocomplete: "current-password", size: 60 %>
        </div>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
      <% end %>
       <div>
          <%= link_to "ゲストログイン（閲覧用）", public_guest_sign_in_path, method: :post %>
        </div>
      <div class="row">
        <div class="col-md-10">
          <p>すでに登録済みの方は、<%= render "public/shared/links" %>からログインして下さい。</p>
        </div>
      </div>
    </div>
  </div>
</div>
