<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <h3 id=heading>登録情報変更</h3>

      <%= form_with model: @user, url: users_mypage_path do |f| %>

      <div class="field">
        <%= f.label :Name（氏名） %><br />
        <%= f.text_field :name, autofocus: true, size: 50 %>
      </div>

      <div class="field">
        <%= f.label :Email %><br />
        <%= f.email_field :email, size: 50 %>
      </div>

      <div class="field">
        <%= f.label :ProfileImage %><br />
        <%= f.file_field :profile_image, placeholder: "Profile Image", accept: "image/*" %>
      </div>

      <div class="field">
        <%= f.label :UserName（アカウント名） %><br />
        <%= f.text_field :user_name, size: 50 %>
      </div>

      <div class="field">
        <%= f.label :Introduction %><br />
        <%= f.text_area :introduction, size: '50x5' %>
      </div>
      <%= f.submit "保存", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
