<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= render 'layouts/error_messages', obj: @user %>
      <h4 id=heading><i class="fa-solid fa-paw"></i>登録情報変更<i class="fa-solid fa-paw"></i></h4>

      <%= form_with model: @user, url: users_mypage_path do |f| %>

      <div class="field">
        <%= f.label :Name（氏名） %><br />
        <%= f.text_field :name, autofocus: true, size: 50 %>
      </div>

      <div class="field">
        <%= f.label :Email %><br />
        <%= f.email_field :email, size: 50 %>
      </div>

      <div class="field">
        <%= f.label :ProfileImage %><br />
        <%= f.file_field :profile_image, placeholder: "Profile Image", accept: "image/*" %>
      </div>

      <div class="field">
        <%= f.label :UserName（アカウント名） %><br />
        <%= f.text_field :user_name, size: 50 %>
      </div>

      <div class="field">
        <%= f.label :Introduction %><br />
        <%= f.text_area :introduction, size: '50x5' %>
      </div>
      <div class="action">
        <%= f.submit "保存", class: "btn btn-success" %>
        <%= link_to "退会する", users_confirm_path, class: "btn btn-danger" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
