<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
    <% if current_user %>
      <%= render 'public/users/user_info', user: current_user %>
    <% end %>
    </div>

    <div class="col-md-8 mx-auto">
      <h4 id="heading">会員一覧</h4>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user_image(user, size = "150x100") %></td>
            <td><%= user.user_name %></td>
            <td><%= link_to "詳細", user_path(user.id), class: "btn btn-success" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
     </div>
    </div>
  <div class="row">
    <div class="col-md-1 mx-auto">
      <div class="pagination">
        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>

