<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <h3 id="heading"><i class="fa-solid fa-paw"></i>マイページ<i class="fa-solid fa-paw"></i></h3>

      <table class="table">
        <tr>
          <th width="200"><i class="fa-solid fa-paw"></i>Name（氏名）</th>
          <td><%= current_user.name %></td>
        </tr>
        <tr>
          <th width="200"><i class="fa-solid fa-paw"></i>Email</th>
          <td><%= current_user.email %></td>
        </tr>
        <tr>
          <th width="200"><i class="fa-solid fa-paw"></i>Profile Image</th>
          <td><%= user_image(current_user, size = "200x150") %></td>
        </tr>
        <tr>
          <th width="200"><i class="fa-solid fa-paw"></i>UserName</th>
          <td><%= current_user.user_name %></td>
        </tr>
        <tr>
          <th width="200"><i class="fa-solid fa-paw"></i>Introduction</th>
          <td><%= current_user.introduction %></td>
        </tr>
      </table>

      <% unless @user.guest_user? %>
      <div class="button">
        <%= link_to "編集", users_mypage_edit_path, class: "btn btn-success" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
